# Anthropic
ANTHROPIC_API_KEY=s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

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://znbfcnmnbzybymlfeupv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_crQ7oDVZT2TNTXuG6FDcGA_HQ8xc6xF
